.button{
    /* background-color: aquamarine; */
    margin: 10px;
   
}

.button-style{
    margin: 10px;
    color: black;
}

/* .resume-box{
    display: flex;
    flex-direction: row;
} */

.resume-div-outer {
    margin: 20px;
}