.about-box{
    padding: 20px;
    margin: 10px;
}

.about-modal{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* align-items: flex-start; */
    /* position:initial; */
    background-color: #ade1e5;
    padding: 20px;
    border-radius: 10px;
}

.about-header{
    flex-direction: row;
    align-items: flex-start;
    background-color: #dbdbdb;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    color: #979797;
}

.about-lower-box{
    flex-direction: row;
    flex-wrap: wrap;
    
}
.about{
    flex-direction: row;
}
.about-paragraph{
    /* flex-direction: row; */
    /* align-items: flex-end;
    flex-wrap: wrap; */
    background-color: #dbdbdb;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    color: #979797;
}

.about-img{
    /* flex-direction: row; */
    border-radius: 5px;
    margin: 10px;
    width: 30%;
}