.footer{
  display: flex;
  position: bottom fixed;
}

.footer-container {
  /* display: flex; */
  /* flex-direction: row; */
  justify-content: space-evenly;
  color: white;
  text-align: center;
  bottom: 0;
  width: 100%;
  background: linear-gradient(90deg, rgb(17, 73, 141) 0%, rgb(0, 0, 0) 100%);
  background-size: cover;
  /* text-align: center; */
  /* @media (max-width: 1000px) {
    padding: 70px 30px;
  } */
}

.footer-box{
  flex-direction: row;
}
.footer-div {
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  /* text-align: center; */
  margin-left: 60px;
}

.footer-column {
  /* display: flex; */
  /* flex: 1; */
  /* flex-direction: column; */
  /* justify-content: center; */
  max-width: 1000px;
  margin: 0 auto;
}
.footer-row {
  /* display: grid; */
  /* flex-direction: row; */
  /* align-items: flex-start; */
  padding: 25px;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  grid-gap: 50px;
  /*
  @media (max-width: 1000px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  } */
}

.footer-container-inner-div {
  display: flex;
  flex-direction: column;
}
.footer-container-inner-social-div {
  display: flex;
  flex-direction: row;
}
.footer-link {
  color: #ade1e5;
  margin-bottom: 30px;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  
}
.footer-link-social {
  color: #ade1e5;
  margin-bottom: 30px;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 10px;
  
}

.footer-link:hover {
  color: #ffffff;
  transition: 200ms ease-in;
}
